[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
"pypiwin32" = "*"

[packages]
django = "*"
python-slugify = "*"
channels = "*"
channels-redis = "*"
daphne = "*"
django-heroku = "*"
"psycopg2-binary" = "*"
twisted = "*"

[requires]
python_version = "3.7"
