{% extends "base.html" %}

{% block header %}<h1>{% block title %}{{ article.title }}{% endblock %}</h1>{% endblock %}

{% block content %}
  <section class="article-detail">
    <header class="article-detail__header row justify-content-between align-items-baseline">
      <small class="article-detail__time text-muted col-auto">
        {{ article.pub_date|date:"DATETIME_FORMAT" }}
      </small>
    </header>

    <p class="article-detail__body">{{ article.body }}</p>
    <footer class="article-footer row justify-content-space-between">
      <div class="article-detail__tags-list col order-last order-sm-first">
        {% for tag in article.tags.all %}
          <a href="{% url 'blog:by-tag' tag=tag.slug %}">{{ tag.name }}</a>
        {% endfor %}
      </div>
    </footer>

  </section>

  <section class="comments">
    <h2 class="comments__title">Комментарии</h2>
    <div class="comments__list" id="commentsList">
      <article class="comment">
        <header class="comment__header row justify-content-between align-items-baseline">
          <h4 class="comment__author col">author</h4>
          <small class="comment__time text-muted col-auto">07.02.2019 14:35</small>
        </header>

        <div class="comment__body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis ipsum labore optio placeat? Aut commodi
          consequuntur cum dignissimos enim est, facere fugit nemo nihil quibusdam quo tempora, ullam!
        </div>
      </article>
      <article class="comment">
        <header class="comment__header row justify-content-between align-items-baseline">
          <h4 class="comment__author col">author</h4>
          <small class="comment__time text-muted col-auto">07.02.2019 14:35</small>
        </header>

        <div class="comment__body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis ipsum labore optio placeat? Aut commodi
          consequuntur cum dignissimos enim est, facere fugit nemo nihil quibusdam quo tempora, ullam!
        </div>
      </article>
    </div>
    <div class="comments__form">
      <div class="form-label-group">
        <input type="text" id="chat-message-nickname" class="form-control" placeholder="Ваш ник" required="">
        <label for="chat-message-nickname">Ваш ник</label>
      </div>
      <div class="form-label-group">
        <input type="text" id="chat-message-input" class="form-control" placeholder="Сообщение" required="">
        <label for="chat-message-input">Сообщение</label>
      </div>
      <input id="chat-message-submit" type="button" class="btn btn-primary" value="Отправить"/>
    </div>
  </section>

  <!--suppress JSUnusedLocalSymbols -->
  <script>
    let roomName = '{{ article.slug }}';
    let articlePk = '{{ article.pk }}';

    let chatSocket = new WebSocket(
      'wss://' + window.location.host +
      '/ws/articles/' + roomName + '/');

    function getDateString(datetime){
      datetime = new Date(datetime);
      const date = datetime.toLocaleDateString();

      let strDatetime = datetime.toLocaleTimeString().slice(0, -3);

      if(date !== new Date().toLocaleDateString()){
        strDatetime = date + ' ' + strDatetime
      }

      return strDatetime
    }

    function appendMessage(message, nickname, datetime) {
      let commentsList = $("#commentsList");

      datetime = getDateString(datetime);

      let newComment = $(
        "<article class=\"comment\">\n" +
        "    <header class=\"comment__header row justify-content-between align-items-baseline\">\n" +
        "         <h4 class=\"comment__author col\">" + nickname + "</h4>\n" +
        "         <small class=\"comment__time text-muted col-auto\">" + datetime + "</small>\n" +
        "    </header>\n" +
        "    <div class=\"comment__body\">" + message + "</div>\n" +
        "</article>"
      );

      commentsList.append(newComment)
    }

    chatSocket.onmessage = function (e) {
      let data = JSON.parse(e.data);
      let message = data['message'];
      let nickname = data['nickname'];
      let datetime = data['datetime'];

      appendMessage(message, nickname, datetime)
    };

    chatSocket.onclose = function (e) {
      console.error('Chat socket closed unexpectedly');
      console.error(e)
    };

    let inputMessage = document.querySelector('#chat-message-input');
    let inputNickname = document.querySelector('#chat-message-nickname');
    let submit = document.querySelector('#chat-message-submit');

    inputMessage.onkeyup = function (e) {
      if (e.keyCode === 13) {  // enter, return
        submit.click();
      }
    };

    submit.onclick = function (e) {
      let messageInputDom = inputMessage;
      let nicknameInputDom = inputNickname;

      let message = messageInputDom.value;
      let nickname = nicknameInputDom.value;
      console.log({
        'message': message,
        'nickname': nickname,
        'datetime': new Date().toJSON(),
        'articlePk': articlePk
      });
      chatSocket.send(JSON.stringify({
        'message': message,
        'nickname': nickname,
        'datetime': new Date().toJSON(),
        'articlePk': articlePk
      }));

      messageInputDom.value = '';
    };
  </script>
{% endblock %}